* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PostCommentSection {
  border: 1px solid black;
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.PostCommentTextField {
  width: 70%;
}

#PostCommentButton {
  background-color: rgb(182, 52, 237);
}